
/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');

*{
    font-family: 'Mulish', sans-serif;
}
body{
    background-color: #FFF;
    max-width: 1440px;
}
.color-primary{
    color: #FF5400;
}
/* nav related style */
.nav-title h3{
    font-size: 36px;
    font-weight: 800px;
}


.nav-title img{
    width:6%;
    height: 6%;
}
.nav-title{
    display: flex;
    align-items: center;
    margin-left: 135px;
}
.nav-container{
    display: flex;
    align-items: center;
    margin-right: 127px;
     
}
.nav-link ul
{
    display: flex;
    gap: 44px;
}
.nav-link a{
    text-decoration: none;
}

.nav-link li{
    list-style: none;
    font-size: 18px;
    color:  #424247;
}